@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scaleAnimation {
  0% {
   transform: scale(0.5) translateY(10%);
  }

  100% {
  transform: scale(1) translateY(0);
  }
}

.animation {
  animation: scaleAnimation 0.3s;
}
